<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.py.tool.EncodingFilter</filter-class>
    <init-param>
      <param-name>charSet</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.py.listener.OnlineNumberListener</listener-class>
</listener>  
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.py.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficheServlet</servlet-name>
    <servlet-class>com.py.servlet.AfficheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.py.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LeavewordsServlet</servlet-name>
    <servlet-class>com.py.servlet.LeavewordsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkServlet</servlet-name>
    <servlet-class>com.py.servlet.LinkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.py.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.py.servlet.SortServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.py.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.py.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficheServlet</servlet-name>
    <url-pattern>/AfficheServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeavewordsServlet</servlet-name>
    <url-pattern>/LeavewordsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkServlet</servlet-name>
    <url-pattern>/LinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/SortServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet.do</url-pattern>
  </servlet-mapping>
</web-app>